[2020-02-14 16:00] uwinkler opened #1 "Does not work with a plain create-react-app project"
Try:

[code]

[2020-02-14 16:02] uwinkler commented on #1
It works if I switch to node version 13.

Btw. great idea :)

[2020-02-14 16:02] #1 closed

[2020-02-14 16:03] benawad commented on #1
Thanks, I'll add a polyfill for flat, I want this to work on older versions of node too.

[2020-02-14 16:09] imcodingideas opened #2 "Object.values(...).flat is not a function"
I am trying to run this on a project with: `npx butler-cli src` and I'm getting: `Object.values(...).flat is not a function` returned. Let me share with you my envirement.

[code]

NPM version: 6.4.1

I thought I would submit a bug report.

[2020-02-14 16:10] benawad commented on #2
Thanks for the report, I published a new version 2 seconds ago, that should fix this. Could you try it again and see if it works for you?

[2020-02-14 16:12] imcodingideas commented on #2
It still is the same thing. I wonder if `npx` is cached.

[2020-02-14 16:15] benawad commented on #2
oops it's me, I forgot to build TypeScript before publishing 😂

[2020-02-14 16:17] benawad commented on #2
just tested on Node v8, should work now

[2020-02-14 16:18] #2 closed

[2020-02-14 16:31] NathanielHill opened #3 "Name feedback and a few suggestions"
I don't think the name is that bad, but I would recommend dropping the `-cli` suffix.

I've had something like this in mind ever since I ran across [arkit](https://github.com/dyatko/arkit)

I think this is a great idea and could greatly simplify things for teams in the same ways prettier has.

I'm imagining adding this into my workflow as a pre-commit stage using husky + lint-staged.

Would be nic

[2020-02-14 16:58] JuanMarchetto commented on #3
I think this is a great idea in i'll try to contribute.
I'm also think that maybe this will be great whit some config options
regarding names i try to think in alternatives but i only come up with this two options:
Structurify
Entropy

[2020-02-14 17:03] Reidond opened #4 "Path are messed up on Windows"
Here is a example screenshot:

![image](https://user-images.githubusercontent.com/20406775/74551790-87abf300-4f5c-11ea-95f9-8d146d51c081.png)

Repo: [vscode-hemtt](https://github.com/Reidond/vscode-hemtt/tree/feature/try_buttler_on_repo/src)

[2020-02-14 17:10] NathanielHill commented on #3
Another suggestion:

Be able to specify starting point and some logic to handle monorepos.

For example, a lot of projects using yarn workspaces will have structures like `@scope/ui` `@scope/web` `@scope/ui` etc

[2020-02-14 17:12] NathanielHill commented on #3
Would be nice to have some logic on how `shared` dependencies are handled. For instance, whether they should always be moved to the `@scope/shared` workspace, or only moved to the shared workspace if they're used across multiple workspaces and have local `shared` otherwise.

[2020-02-14 17:13] NathanielHill commented on #3
I can also imagine certain frameworks have some idiosyncrasies that won't follow the structure, so ability to ignore those.

And, if running in the root, being able to ignore certain `.js` configuration files

[2020-02-14 17:15] Reidond commented on #4
Looks like "./" is normal for windows. The problem might be in path module

[2020-02-14 18:52] sokki opened #5 "Handle `.spec.js` and `__mocks__` different"
This tool is a great idea Ben!
It would be awesome if this would end the endless debates about folder structures like prettier ended the debates about formatting.

I ran it against a small project and quickly realised, that it doesn't play well when u have `.spec.` files and `__mock__` folders inside your src folder.

So this
![image](https://user-images.githubusercontent.com/665748/74558696-09068

[2020-02-14 20:12] benawad commented on #4
should be fixed now https://github.com/benawad/butler-cli/commit/cb59780545bf3fb396954d8102665fe06d010133

[2020-02-14 20:12] #4 closed

[2020-02-14 20:13] benawad commented on #5
How do the files import each other?

Would you mine adding this as a test case?

[2020-02-14 20:33] AnatoleLucet opened #8 "config file and flags"
As mentioned in #3, it could be nice to have some options. Either with some flags in the cli or a config file.

Here's some of my obvious ideas when we speak about options for a cli:
- Ignored pattern & files/folders names. For example: `butler-cli src --ignore *.js` ingore js files
- Some kind of regex (like ESLint is doing) for the first argument which is the path. For example `butler-cli src/**

[2020-02-14 21:04] nmay231 commented on #8
Another config option that would be useful is the file path separator, whether it is forwards slash "`/`", back slash "`\`", or inferred (default).

Also, having the ability to leave a comment at the top of the file `/* butler-ignore */` would be helpful in some cases. But that opens a whole other can of worms :wink:

[2020-02-14 21:51] TheKnarf opened #11 "Ignore-rules"
I have a folder where some typescript code is being generated into, so I need to be able to add some kind of ignore rule so that it leaves those folders alone.

[2020-02-14 22:19] amadeus opened #12 "Appears to crawl up to dangerous parent directories."
No worries, no harm was done, but I ran into this error and didn't think it was worth trying to fix to get the script continuing:

[code]

I was operating the tool from `/Users/amadeus/Development/git_repo/subfolder`

Could probably use something to prevent it from trying to crawl up and outside of the existing execution directory.

[2020-02-14 22:46] benawad commented on #12
Is it possible to share the repo?

It should only crawl the path you specify, but maybe an import is messing it up and I definitely don't want it crawling around someones personal files.

[2020-02-14 22:59] benawad commented on #8
I'm thinking of using https://github.com/davidtheclark/cosmiconfig for getting the config file

and https://github.com/tj/commander.js/ to handle flags

[2020-02-14 23:08] amadeus commented on #12
Unfortunately no, I was running it on the discord repo for funzies, heh.

[2020-02-14 23:49] benawad commented on #12
No worries, I have a couple ideas on how to reproduce it.

[2020-02-15 06:14] ganapativs opened #17 "Feature requests and suggestions"
This tool has great potential. Here are some features I could think of.

- [ ] **Resolving multiple files with the same extension(Not sure if it's already supported)**
  If a folder has `.js` and `.jsx` and has been imported without extension, resolve order matters here. Make it configurable, optionally use `butler.config.js`?

- [ ] **Watch mode?**
  - Need to rethink performance issues as we are

[2020-02-15 09:13] capaj commented on #3
how about "Filer"? Has a similar ring to it as "Prettier"

[2020-02-15 09:18] AnatoleLucet commented on #3
@capaj I like this name. But unfortunately it's already taken from [another package](https://www.npmjs.com/package/filer) :(

[2020-02-15 09:19] capaj opened #18 "Disallow folders with one file"
For me, having only a single file sitting in directory is not nice.
For example in this repo: https://github.com/benawad/butler-cli/tree/9ad6e4c11ee096314402060f541047253336c5e1/src/index/formatFileStructure/syncFileSystem/fixImports

I would prefer if butler places the `makeImportPath.ts` into `syncFileSystem` folder next to `fixImports.ts`.

If you could add this `disallow-leaf-folders-with-one-

[2020-02-15 09:25] capaj commented on #3
@AnatoleLucet we could create a scope on npm `@filer` and put the cli as `@filer/cli`.
Also if the project picks up and we have other language than TS/JS plugins, they can be published under that scope-like for example `@files/sass`  or `@filer/less`

BTW that scope is still free: https://www.npmjs.com/~filer

[2020-02-15 09:35] AnatoleLucet commented on #18
I wouldn't recommend doing that in a "managed by hand" fractal structure since it involve to move `makeImportPath.ts` to a new folder if you want to add another deps to`fixImports.ts`. But because this is now managed by Butler, he could move `makeImportPath.ts` in a new `fixImports/` folder for us. So yeah, why not!

[2020-02-15 09:42] AnatoleLucet commented on #3
Why not. With a [bin](https://docs.npmjs.com/files/package.json#bin) named `filer` this is doable.

[2020-02-15 13:24] AnatoleLucet opened #20 "Restructure subfolders"
In [this example](https://github.com/shivekkhurana/appuity-frontend/tree/develop/src) of fractal structure from [this article](https://hackernoon.com/fractal-a-react-app-structure-for-infinite-scale-4dab943092af), they are showing how they use the fractal structure only in sub folders of `src/`.
So `src/` isn't structured in a fractal way but sub folders like `components`, `pages`, `modules`... ar

[2020-02-15 14:42] benawad commented on #20
I like it and by default we can assume the first level is the root.

[2020-02-15 21:19] sQVe opened #25 "Add CI"
Hey :wave:,

Do you have any thoughts on a CI system for this repo? I think it would be great to have some automated tests for PRs etc.

I would recommend **Travis** and I would be happy to set it up if needed.

[2020-02-15 21:28] benawad commented on #25
I want to set something up like that, but haven't gotten to it yet.

I was thinking of trying GitHub Actions, but if you like Travis better I'm good with that too if you want to set it up.

[2020-02-15 21:28] AnatoleLucet commented on #25
What about GitHub Actions?

[2020-02-15 21:54] sQVe commented on #25
@benawad It would be fun to try GitHub Actions. I always default to **Travis** because that is what I've been using for years.

[2020-02-15 22:25] kkogovsek opened #26 "Can't resolve imports where file name contains multiple dots but no .js in the end"
Example output:

[code]

[2020-02-15 22:43] AnatoleLucet commented on #26
Do you have an import path written like this in your code: `/cant/share/folder/structure/useForm.js`?
If yes, this is probably because of how we use Node's `path.resolve()`. This could be fixed with a simple condition.

But still, what do you mean by `where file name contains multiple dots but no .js in the end`, are you speaking about backward dots (`../`) in your second path? Anyway, can you pro

[2020-02-16 01:37] benawad opened #28 "Adding Configuration Options is Next"
I'm pretty happy with the engine now and should make it easier to layer configuration options on it.

Biggest change I made is `buildGraph` now takes an array of files instead of a folder. Will make it easier to ignore files and process files by root.

[2020-02-16 01:38] benawad commented on #26
@kkogovsek give destiny a try, I just published it with a bunch of changes including a better resolve algorithm.

[2020-02-16 13:11] sQVe commented on #25
@benawad Just so you know I'm unable to help out with this as I'm not a maintainer. So your not waiting for me to set it up or something.

[2020-02-16 15:21] benawad commented on #25
@sQVe @AnatoleLucet just invited both of you as collaborators

[2020-02-16 16:37] AnatoleLucet opened #30 "Error: EISDIR: illegal operation on a directory"
[code]

[2020-02-16 16:48] benawad commented on #30
I'm fixing this right now, I assume the array you pass in is files and `tests/fixtures/simple` is a folder

[2020-02-16 16:50] AnatoleLucet commented on #30
Yep, simply a `node dist/src/index.js "tests/fixtures/simple"` in the root folder of Destiny.

[2020-02-16 16:52] AnatoleLucet commented on #12
Is this still an issue?

[2020-02-16 16:58] benawad commented on #30
just pushed the change, it should handle any number of globs or folders

[2020-02-16 16:59] benawad commented on #12
worth testing again, the internals have changed and I don't think it should crawl up anymore

@amadeus would you mind running it again (ps it's been renamed to `destiny`)

[2020-02-16 17:01] benawad commented on #5
should be fixed now

[2020-02-16 17:01] #5 closed

[2020-02-16 17:39] AnatoleLucet commented on #30
That's perfect, nice work!

[2020-02-16 17:39] #30 closed

[2020-02-17 08:17] sokki opened #33 "Error when importing files with same name from different folders"
For

[code]

I get a `UnhandledPromiseRejectionWarning: Error: fatal: destination exists` because the fractal tree resolves this to
[code]

Two options to approach this:
1. Keep sub-directories (`"dir1/file.js": "index/dir1/file.js",`)
2. Rename the file (e.g. (`"dir1/file.js": "index/dir1-file.js",`)

I think both approaches might get quite messy when dealing with deeper nested structures tho 🤔
B

[2020-02-17 09:12] AnatoleLucet commented on #33
I also think the second option is better. The first one wouldn't respect the "fractal structure rules".

[2020-02-17 12:05] AnatoleLucet commented on #33
What about asking the user if he want to rename the file, and if yes, asking him to enter a new name?

[2020-02-17 12:13] sQVe commented on #33
@AnatoleLucet I think we should try to be as opinionated as possible, like prettier, and also aim to be zero-conf.

Asking the user for input is problematic when `destiny` runs on CI or any other automated way. We could introduce a optional option where the user has power to edit conflicts, just like a git merge conflict. That might be a bit overkill currently though.

[2020-02-17 12:17] AnatoleLucet commented on #33
Yes you're right, that's a better idea 👍

[2020-02-17 15:06] #25 closed

[2020-02-18 00:49] zaguiini opened #41 "Why double index?"
![image](https://user-images.githubusercontent.com/26530524/74694492-188a0500-51cf-11ea-8491-42793e4bc23a.png)

In this image on the docs I see both `index.js`  and `index/` folder.

Why use this approach? Isn't it bad for the compiler/ambiguous to have both?

Why don't simply put  `index/` folder's contents outside of it? It would look clear and it wouldn't break encapsulation.

I'm not bashing i

[2020-02-18 06:46] sQVe commented on #41
`destiny` is in early development stage. The resulting structure that `destiny` currently outputs is a reflection of some generalization and simplification. I think the next goal is to only *run* `destiny` on subfolders of `src`. Do you agree @benawad?

It's worth noting that the current structure has no implications on a compiler. From a compiler or file system stand point there is a big differen

[2020-02-18 06:56] sQVe commented on #3
We've now changed name to `destiny` and have multiple issues with features for the future. :yay:

I'm closing this issue.

[2020-02-18 06:56] #3 closed

[2020-02-18 06:57] sQVe commented on #11
@TheKnarf Great suggestion.

I'm closing this issue in favor of #17.

[2020-02-18 06:57] #11 closed

[2020-02-18 08:29] sQVe commented on #33
This should now be fixed once https://github.com/benawad/destiny/pull/34 is released. Closing.

[2020-02-18 08:29] #33 closed

[2020-02-18 08:35] alubbe opened #42 "Errors for commented out imports and exports"
The tool does not recognize when an invalid import statement has been commented out, like this:
[code]
It throws this error until we delete the line:
[code]
It would be great if it would ignore these lines - does the currently logic depend on pattern matching or does it parse the AST of the files?

[2020-02-18 08:39] sQVe commented on #42
@alubbe Nice find!

The current logic utilizes pattern matching to find imports and exports. It should of course ignore commented out lines.

[2020-02-18 08:56] alubbe commented on #42
Okay so then ignoring lines with a preceding `//` is simple, but I'm not sure what the most economic/effient way would be to find out whether you're in a (possible nested) `/* ... */` block - how would you resolve that with pattern matching?

[2020-02-18 08:57] alubbe commented on #42
Ok so JavaScript does not have nested comments, so it suffices to find the last `*/` and then scan if there are any `/*` between that and your current position

[2020-02-18 08:59] alubbe commented on #42
or, more economically, find the nearest preceding `/*` and the see if it has been closed by a `*/` before your current position - but you probably want to keep track of all of this per file because otherwise you're doing this per line with an import statement

[2020-02-18 09:01] alubbe commented on #42
anyways, thanks for this tool - I hope to try it again once it ignores comments (atm our code base is just too large and littered with comments for me to clean up by hand)

[2020-02-18 09:02] sQVe commented on #42
@alubbe There are plenty of ways to solve this problem. I'll ping you once it is done. Cheers for the input. :+1:

[2020-02-18 09:49] #42 closed

[2020-02-18 09:50] sQVe commented on #42
@alubbe This should now be fixed on the next release of `destiny`.

[2020-02-18 10:06] AnatoleLucet commented on #41
The following article may help you:
https://hackernoon.com/fractal-a-react-app-structure-for-infinite-scale-4dab943092af

[2020-02-18 10:40] AnatoleLucet commented on #28
Two questions:
1. Should the options given through the CLI take over the config file? For me it's a yes.
2. Should the options of type array be combined or fully replaced? For example the paths given through the CLI take over the paths in the config file. For me they should be combined but it can probably depends.

[2020-02-18 10:48] alubbe commented on #42
amazing, thanks!

[2020-02-18 10:52] sQVe commented on #28
@AnatoleLucet I think options given via the **cli** should override any other option. I think it would be confusing to combine.

[2020-02-18 11:18] waynevanson commented on #17
Love what you have here.

My two cents on watch mode: I feel like it should be part of a git workflow and not watch mode at all.

I would personally use this package only after my tree is clean and I'm about to push. Similar to how yarn publish will auto commit the bump of a version number in `package.json`.

[2020-02-18 11:21] sQVe commented on #17
@waynevanson I agree and think one of the **major** issues we need to solve is how to use `destiny` in a project using `git`, or something similar. Moving and renaming files can be such a hassle for merge conflicts.

I do not really envision `destiny` to be a tool that should run automatically but rather a tool that you run at specific times when you and your team members are all in sync.

[2020-02-18 11:29] waynevanson commented on #17
@sQVe I just added to my comment if you'd like to see more.

Yeah that looks like a huge pain. I wonder what will be the solution.

In teams, it would be harder to use on an automatic basis. I agree with you.

[2020-02-18 15:05] benawad commented on #17
We are using `git mv`, so I don't think that should prevent any merge conflicts related to the file being moved/renamed. Haven't tested that yet though, so not 100% sure.

[2020-02-18 15:10] benawad commented on #41
@sQVe exactly, you'll define some root folders and then `destiny` will make each one a fractal

[2020-02-18 15:12] benawad commented on #28
I agree, combining will get messy

[2020-02-18 15:52] benawad opened #46 "I added a GitHub Action for Deploying to NPM"
@sQVe @AnatoleLucet

I just grabbed an existing NPM publish action, so feel free to swap it out if you want something different, but you can now deploy the package to NPM.

Now, when someone changes the version in `package.json` to `1.2.3` and pushes a commit with the message `Release 1.2.3`, the GitHub action will create a new tag `v1.2.3` and publish the package to the NPM registry.

[2020-02-18 15:54] benawad commented on #46
Might be worth adding `semantic-release` and auto generating change logs

[2020-02-18 15:58] sQVe commented on #46
@benawad That's awesome! It would be nice, if possible, to release on GitHub too.

In the future it might be worth considering https://github.com/semantic-release/semantic-release which is really nice with https://www.conventionalcommits.org. That would automate releases to npm and GitHub and also create changelogs etc.

[2020-02-18 16:05] sQVe commented on #41
Closing this issue as I, hopefully, you've gotten the information you were asking for.

[2020-02-18 16:05] #41 closed

[2020-02-18 16:13] sQVe commented on #46
@benawad I usually run the following config https://github.com/sQVe/colorally/blob/develop/.releaserc.json.

I'd love to help out but it's pretty hard when not having access to the tokens etc! 👍

[2020-02-18 16:14] AnatoleLucet commented on #46
That's really nice, it's going to be useful! Anyway, I'm not going to be really active on the project for the next week. It's pretty hard to write code with a clavicle in half... 😑

[2020-02-18 16:15] sQVe commented on #46
Also, we should probably have a master and develop branch. The develop branch should be set to default @ GitHub. Master branch points to latest release.

[2020-02-18 16:29] AnatoleLucet commented on #46
And keeping important releases on branches.

[2020-02-18 22:08] sQVe commented on #46
@benawad The npm-publish action is failing every time is doesn't match. We should probably make if fail gracefully or start using a `develop` branch.

[2020-02-18 23:03] sQVe opened #47 "Preview tree"
I think the default behavior of `destiny` should be to output a preview of the fractal tree. This goes in line with how `prettier` handles things as it only writes when given the `--write` option.

What do you guys think @benawad @AnatoleLucet @sokki? I'm currently writing a `treePrinter` module but the core application also needs to be restructured a bit to handle this nicely.

[2020-02-19 03:41] benawad commented on #47
I like this

[2020-02-19 04:13] benawad commented on #46
I made `develop` the default branch and added credentials for `semantic-release`. I tried setting up the CI for it too, but it says no relevant changes found (https://github.com/benawad/destiny/runs/454438634?check_suite_focus=true) each time so I think there's a needs to be a tweak of some sort.

[2020-02-19 04:49] waynevanson opened #51 "Duplicate unused files"
For some reason, it displayed an unused file twice.

Also, I'd like to see a tree view of the unused files so there's less ambiguity of files/more visual. AT least for the CLI portion of this.

[code]

[code]

[2020-02-19 05:38] waynevanson opened #52 "Improve debuggability"
I think we need a debugger for the file structure because when people use this in their real projects, they may not want to sure their whole repository before and after the change.

Something small that reads the folder and file structure before and after a change.

Motivation for this come from using destiny in a private repository and having some unexplained folder and file renames.

Are there a

[2020-02-19 06:41] sQVe commented on #51
The tree view will be possible once we have https://github.com/benawad/destiny/issues/47. The other issue should be easily fixed.

[2020-02-19 06:48] sQVe commented on #52
I think we should add a debug flag which output some information to help debug issues. The hard thing here is to decide what information is relevant in a debug log sense.

Could you give an example on what you  found to be unexplained?

[2020-02-19 07:30] AnatoleLucet commented on #47
Also like it!

[2020-02-19 10:41] waynevanson commented on #52
I had a folder generated that was name after a file, nested in another folder that only had the generated folder. Just a bug that would be easier explained visually.

I think interactive mode would be nice, where it does a dry run, allows you to see the new directory structure tree in the terminal and require approval for the change/s. Pretty sure I've seen this feature posted recommended somewher

[2020-02-19 10:57] AnatoleLucet commented on #52
#47?

In my point of view it would be better to only save logs in debug mode, or if a flag like the following is given: `--logs-output ~/myLogFile`.

[2020-02-19 21:36] waynevanson commented on #52
I thought that having destiny save information where the user doesn't see by default would be nice, because we could run `destiny [details | logs | info]` or something similar to get the logs, even when they're not using debug mode.

This is because when people use destiny, chances are they're not in debug mode.

I'd like to have a similar command to create react app's `npx create-react-app --info

[2020-02-19 23:04] sQVe commented on #52
@waynevanson I'm quite strongly against creating automatic logging. It would require a lot of functionality which is outside of the core of `destiny`. It may also be hard to find which log is relevant when a bug does occur.

I would hope that most information needs will be covered when we dry-run by default. In cases where something goes awry, the user can always revert via version control and rer

[2020-02-20 00:14] waynevanson commented on #52
Thanks, @AnatoleLucet :)

@sQVe These are valid points. Once dry run is available, an issue template regarding these details should be implemented.

So will the flag be `--debug`  with no arguments? If not, what should it be?

If this is to be, I think that destiny should check that there are no pending commits. Currently it does not check this.

Another enhancement: during debug mode, it should a

[2020-02-20 03:32] benawad commented on #52
I'm good with that

I could see doing this, and it being a confirmation message "You have some uncomitted changes, are you sure you want to run destiny?"

I like this in non debug mode too, it's good to alert the user when something doesn't go right.

[2020-02-20 03:34] #51 closed

[2020-02-20 08:44] sQVe commented on #52
I think `--debug` should output information and `--debug $HOME/log` or `--debug=$HOME/log` also outputs to file

[2020-02-20 17:57] AnatoleLucet commented on #18
Anyone having a short name idea for this option?
I though about `singleFile`/`--single--file` but it's not that self explanatory...

[2020-02-20 18:02] sQVe commented on #18
I think `--move-only-child` or something similar is quite explanatory.

[2020-02-20 18:12] sQVe commented on #18
`--rename-only-child` is even better I think.

[2020-02-20 20:32] sQVe commented on #46
This now works. I also added `@semantic-release/changelog`, `@semantic-release/git` which updates our https://github.com/benawad/destiny/blob/develop/CHANGELOG.md automatically and also fixes tags etc on GitHub.

Closing.

[2020-02-20 20:32] #46 closed

[2020-02-20 21:10] sQVe commented on #28
Maybe we should close this unless we want to discuss specific options?

The ability to configure `destiny` via the cli and config is now possible.

[2020-02-20 21:11] sQVe commented on #46
@benawad Could you please set the `master` branch to protected? We don't want to be able to force push to that branch.

[2020-02-20 21:11] sQVe commented on #42
@alubbe This is now released.

[2020-02-20 21:15] sQVe commented on #8
Closing issue. Fixed in above references.

[2020-02-20 21:15] #8 closed

[2020-02-20 21:22] sQVe commented on #20
This is now supported via https://github.com/benawad/destiny/pull/55. As @benawad mention we should remove the `detectRoots` option and just keep it simple. If a user wants to only restructure subfolders they should input those subfolders.

A fast way to do this would be `npx destiny src/*/`.

Closing.

[2020-02-20 21:22] #20 closed

[2020-02-20 21:24] sQVe commented on #26
Closing due to lack of feedback.

@kkogovsek If you're still having problems give me a ping and I'll reopen!

[2020-02-20 21:24] #26 closed

[2020-02-20 21:25] sQVe commented on #12
Closing due to lack of feedback.

@amadeus If your still having problems just ping and I'll reopen the issue.

[2020-02-20 21:25] #12 closed

[2020-02-20 21:28] sQVe commented on #47
Here's an example of the desired output:
[code]
I'm currently working on the data handling to do this. I have all the leafs listed and sorted already. Now I need to build the tree and then visualize it.

[2020-02-20 23:03] danielpza opened #58 "Pull Request merging strategy"
Since we are using conventional commits and semantic-release we should probably only use squash and rebase for merging PRs. If the commits for a PR are using the conventional commits spec it would be merged using a rebase, else using a squash merge to change the name of the commit/PR.

[2020-02-21 04:05] #28 closed

[2020-02-21 05:26] ganapativs commented on #17
There will be conflicts if the team/individual use  `squash and merge` when merging. This should be added to FAQ probably.

Also, I completely agree that probably there should not be a watch mode. Watch mode complicates things a lot and might not really be useful in most of the cases.

[2020-02-21 06:57] sQVe commented on #58
I agree that we should squash in cases where PRs do not use conventional commits or the commit messages does not make sense.

In cases where the PRs is using conventional commits correctly I would prefer to simply merge instead of rebase as it gives a clearer tree of what actually happened.

Why are you preferring rebase over merge in that case. Is it just to keep the structure flat?

[2020-02-21 11:13] AnatoleLucet commented on #47
Maybe you've already planned to do this, but it could be nice to have different color for folders like `tree` is doing:
![](https://i.gyazo.com/698b705a2beb93b19dbd4fc64728c174.png)
It's easier to read.

And also sorting the list by dirs first?

[2020-02-21 11:44] sQVe commented on #47
@AnatoleLucet Yeah, I'm planning to colorize the output somewhat for readability. The sorting of all individual leafs, where directories weight heavier, is already implemented. Currently working on building the actual branches in a easy to understand and flexible structure.

[2020-02-21 14:32] danielpza commented on #58
Yes, just to keep the structure flat, I've use it in my workflows it it seems really nice, however I can see why you wouldn't want to do a rebase.

[2020-02-21 15:05] benawad commented on #17
@ganapativs What would be the sequence of steps to replicate the conflict? Are you thinking:
User 1 git move a file
User 2 make a change in that file then squash, then pull User 1 changes

[2020-02-21 18:49] fabiomcosta opened #60 "Use mvjs as a dep"
Hi @benawad and other maintainers, this is not really an issue, but I'd like to understand how you'd feel like about using this lib that I created for all the file moving operations https://github.com/fabiomcosta/mvjs/
I can definitely help with any special use cases you might have and expose the appropriate APIs, if there is not already one in place.
Let me know if there is any interest and I try

[2020-02-21 19:16] sQVe commented on #60
@fabiomcosta That could be helpful but I'm slightly hesitant as that would lock JavaScript and TypeScript further.

It would be nice if we could chisel the base logic for moving our files around and apply that on multiple languages. I envision that the language and syntax support should be plugin based.

How much do, roughly, would you estimate that your lib would replace?

What are your thoughts

[2020-02-21 19:21] benawad commented on #60
I agree with @sQVe , if this project ends up being useful it would be nice for it to work with an arbitrary language. I like the idea of having plugins for detecting/fixing imports for a given programming language.

I am curious though, do you know what imports `jscodeshift` catches that regexes don't?

[2020-02-21 19:59] fabiomcosta commented on #60
@sQVe, I haven't explored how much it would replace yet, that would be my next step in case you guys show interest. Thank you for answering so quickly!
I can do an overview of that and maybe create a quick PR, not on its final state, that would help with answering that question.

@benawad I haven't looked at the code on this project that much and how it's achieving the import replacements, but hav

[2020-02-21 20:09] danielpza commented on #60
I think using mjs doesn't necessarily lock us to javascript and typescript or interferes with a plugin based system. A plugin system could be flexible enough to use mjs for js&ts, and other tools for other languages.

[2020-02-21 20:16] benawad commented on #60
We might want to separate moving from fixing imports.

Moving the files will be the same logic for each language (I think), and comes down to choosing whether to do a regular move or a `git mv`. Then the plugin would only be for fixing imports.

I think a regex can catch this?

[code]

I'm fine not supporting this case for the sake of not having to introduce `jscodeshift`

[code]

[2020-02-21 20:30] AnatoleLucet commented on #60
`jscodeshift` is a big addition (1.34 mb) to only parse/resolve imports...

[2020-02-21 21:04] sQVe commented on #60
I fully agree. The issue is that we're far from having a plugin based system. The first commit in this project was created 11 days ago and we're still shifting and moving the core functionality. To move a essential part, like moving and fixing imports, to a external dependency might not be the best thing for us in the long run.

@fabiomcosta My honest opinion is that we're too early in the game to

[2020-02-21 21:06] sQVe commented on #60
It can easily catch cases like this. **Regex** will always be a non fail-safe way of doing things but it is also a lot more flexible. IF we want to quickly move and support different languages we would need to rely on **regex** heavily.

[2020-02-21 21:16] AnatoleLucet commented on #60
@sQve +1 I think we should wait a bit for the project to stabilize before implementing such.

[2020-02-21 21:40] fabiomcosta commented on #60
Awesome, thank you so much for this quick answers!
Everything you all are saying makes a lot of sense to me!
If that changes in the future, let me know and I'll gladly work on the integration.

@benawad FYI, just to complement, mvjs has move and transform (fixing imports) as 2 separate API methods: https://github.com/fabiomcosta/mvjs/#api-usage

[2020-02-21 21:41] #60 closed

[2020-02-21 21:44] fabiomcosta commented on #60
@sQVe I'll keep an eye on it. The project idea is great and is something that maybe could evolve into a more general "eslint-like autofix tool for file structures" with plugins that can define constraints and things like that. I'd love to have something like that on my project... our folder structure is a mess today (at work).

[2020-02-22 05:27] ganapativs commented on #17
This probably should work(Needs testing)

User 1 git moves the file(say in fresh branch-1 from the master)
User 2 edits the same file(in fresh branch-2 from the master, may be just editing the imports in the
same file should work)
User 2 squashes and merges his changes to master
User 1 takes the pull(should probably get the conflict as User 2 changes history is lost when squashed)

Optionally, Use

[2020-02-22 10:13] sQVe commented on #17
@ganapativs Squashing is not relevant in your example. What you're explaining is just a simple merge conflict due to two parts changing the same thing. This is nothing that we'll be able to solve.

What we do is make the merge conflicts easier by marking moved files as moved in Git.

[2020-02-22 21:31] sarpik commented on #58
What I do myself & highly recommend too:

Use feature branches for features
Once the feature is done, rebase it to `origin/master`
Then merge it into master with `--no-ff` to intentionally create a merge commit.

This produces a very clean commit history - you know which commits came from a specific feature branch, and which ones were commited straight into master.

Take a look at my recent projec

[2020-02-22 22:08] danielpza commented on #58
I was aiming for something like this, it is what I use on all of my personal projects and it is imo cleaner and straightforward, no develop, just a master branch

![image](https://user-images.githubusercontent.com/17787042/75099960-98c8b580-5595-11ea-9a91-72e4bee8126e.png)

notice PRs closed with squash merge have a #PR number in the commit

[2020-02-23 11:23] sQVe commented on #58
Closing this as I think we've established  a strategy for our PRs.

[2020-02-23 11:23] #58 closed

[2020-02-23 22:39] AnatoleLucet opened #63 "Destiny's trying to restructure scss files"
By now, Destiny could easily restructure scss files. And it seems like it's trying, without knowing, but not succeeding.

If a js/ts file imports a scss file like so:
[code]
and this `index.scss` is importing another scss file without specifying the `.scss` extension in the path:
[code]
it will throw this error:
[code]

So the question is: are we extending to preprocessors like Prettier, or are we

[2020-02-23 22:49] AnatoleLucet commented on #63
The above error also happens when a file contains an import to a non existing file. We should handle this error with the logger.

[2020-02-24 03:38] benawad commented on #63
I think it's worth supporting that, should be almost exactly the same thing as js/ts

I think we need to add the extension to https://github.com/benawad/destiny/blob/bdc0e979ce0a6594182082e093b9f8e28e787e4e/src/index/formatFileStructure/shared/customResolve.ts#L6

[2020-02-24 15:33] #63 closed

[2020-02-24 20:23] AnatoleLucet commented on #47
#69 🎉

[2020-02-24 20:23] #47 closed

[2020-02-24 20:24] sQVe opened #70 "Updating imports in test"
Hey :wave:,

One issue we're having is that when you run `destiny` on the `src` folder we fix the imports but not on other folders that also import those files like a `test` folder. This issue is a bit tricky as one might argue that if we specify only the `src` folder it should only restructure and fix the `src` folder.

I do think that most people would assume that the imports in test was fixed t

[2020-02-24 20:33] AnatoleLucet commented on #70
That's a big one. Do you have an idea of how we could check who's importing a specific file from `src` without checking every files/folders in `src`'s parent? That would really be time consuming for maybe nothing (if no one is imports it).

[2020-02-24 20:33] benawad commented on #70
I think we need 2 inputs from the user

1. The files to restructure `["src/utils", "src/pages", etc...]`
2. The files to fix imports for `["src", "tests"]`

[2020-02-25 01:43] AliSrarrar opened #71 "Ryadih"

[2020-02-25 01:44] #71 closed

[2020-02-25 07:50] sQVe opened #72 "Enable Gitter"
Hey :wave:,

Some of the discussions we have in **issues** are better suited elsewhere like Gitter. @benawad what do you think and could you possibly enable it for `destiny`? A alternative is of course IRC @ freenode, depending on how many use IRC on a daily basis here.

https://gitter.im

[2020-02-25 10:58] AnatoleLucet commented on #72
What about Discord?

[2020-02-25 12:18] sQVe commented on #72
@AnatoleLucet I dislike Discord because it does not have IRC support 😉

[2020-02-25 13:49] AnatoleLucet commented on #72
As you want. If IRC is crucial for you, it doesn't bother me to use Gitter.

[2020-02-25 14:55] leodr opened #73 "Destiny tries to create folder named index.jsx"
With my React project destiny tries to make a folder named `index.jsx` instead of just `index`.

This is my file structure right now:

[code]

And this is what destiny suggests:

[code]

[2020-02-25 14:58] leodr commented on #73
This is the error message when i try to execute it with `npx destiny -w src/**/*.*`:

[code]

[2020-02-25 15:14] sQVe commented on #73
Could you please provide an example repository to debug on? It's pretty much the only way for us to know whats going wrong.

[2020-02-25 17:09] leodr commented on #73
https://github.com/leodr/destiny-bug-repo

I stripped some files but this is enough to reproduce the issue for me when running `npx destiny -w .`

[2020-02-25 17:40] sQVe commented on #72
This issue is solved by https://github.com/benawad/destiny/pull/74.

[2020-02-25 21:02] #72 closed

[2020-02-26 07:23] sQVe commented on #73
This is now released with #75. @leodr Please try the new version and get back to us if it works as intended. I'll reopen if it doesn't.

Cheers for taking the time to create a debug repo :beers:

Closing.

[2020-02-26 07:23] #73 closed

[2020-02-26 10:38] k0pernikus opened #76 "Cannot require referenced json file via relative path within a typescript project having an outDir setting"
Given a typescript project that has set: `outDir` as `"./dist/"` in the `compilerOptions`. There's one script that loads in its own `package.json` via require and a relative path:

    const pkg = require("../../../package.json");
    console.log(pkg);

    $ npx tsc && node dist/bar/baz/file.js

[code]

`destiny` throws an error on the require line:

[code]

I assume the outDir trips `destinity`

[2020-02-26 11:02] sQVe commented on #76
Could you please provide a minimal repo with this error? 🙏

[2020-02-27 07:20] sQVe opened #80 "Improve test coveage"
Hey :wave:,

We would love some help with improving our test coverage. You can either visit https://codecov.io/gh/benawad/destiny/branch/develop or run `yarn test:coverage` to get more details. I recommend going through the generated `html` files to specifically see what coverage is missing.

I think this is pretty crucial now when we're starting to iron out bugs and other issues. It would be very

[2020-02-27 16:11] jesperordrup opened #81 "Doesnt work on windows"
Running npx destiny "src/**/*.*" or just npx destiny src prints out a tree that looks like a nice end result - but files and folders are untouched.

[2020-02-27 16:19] jesperordrup commented on #81
Update:

It works. If you add --write

npx destiny --write  "src/**/."

Not working:

npx destiny -W "src/**/."

error: Path not found

[2020-02-27 16:20] jesperordrup opened #82 "reserved paths"
So I tried destiny on a next.js project and realized that we need to have some way to exclude folders/files.

Example, in next.js we need to keep code for pages and api in

pages
pages/api

[2020-02-27 16:22] benawad commented on #81
I think it should be a lowercase `-w`, but either way, I'll update the readme

[2020-02-27 16:24] #81 closed

[2020-02-27 16:28] benawad commented on #82
For now, you can accomplish that with your glob `./!(pages|server)*`, but I could see adding a more friendly api to `destiny` for excluding files

[2020-02-27 16:29] AnatoleLucet commented on #81
You need tu use the `--write` flag. See `npx destiny --help`.

[2020-02-27 17:04] sQVe commented on #82
Duplicate of https://github.com/benawad/destiny/issues/17. Closing.

[2020-02-27 17:04] #82 closed

[2020-02-27 17:04] danielpza commented on #81
We should improve the cli a bit, if the params are wrong or no input path are specified we should probably display the help message

[2020-02-27 17:09] danielpza commented on #82
I think it would be better to have that big issue separated in small ones like this, it allows to discuss different issues without spamming or polluting the others. If we want to track them all in a single place it would be better to use github projects.

[2020-02-27 17:27] sQVe commented on #82
@danielpza I agree, I had the exact same though. We should close #17 and split the relevant points in it into separate issues.

[2020-02-27 17:30] sQVe commented on #81
@danielpza That's close to how it works currently but with one exception. If you feed the `cli` with `--incorrect-option` it assumes that it is a path.

[2020-02-27 17:32] danielpza commented on #81
Perhaps a `--incorrect-option is not a valid path` message.

[2020-02-27 17:34] sQVe commented on #81
I think we should just keep it simple and ignore paths that start with `-` or `--` here: https://github.com/benawad/destiny/blob/develop/src/index.ts#L68

[2020-02-27 17:36] danielpza commented on #81
Yeah, I don't see anyone naming their files `--my-file-goes-here.tsx`, but now I'm curious how others handle these cases :thinking:

[2020-02-27 17:37] sQVe commented on #81
@danielpza They might, which is why I wrote it like this in the first place. I'm a bit unsure how to handle this in the best way.

[2020-02-27 19:06] jesperordrup commented on #82
I feel a need for a `.destiny` file

[2020-02-27 19:10] sQVe commented on #82
@jesperordrup `destiny` already supports a config file via https://github.com/davidtheclark/cosmiconfig but it does not currently support specifying paths in it.

[2020-02-27 19:14] AnatoleLucet commented on #82
I feel a need for a **Documentation** 😄

---

Going to work on it...

[2020-02-27 20:57] jesperordrup commented on #82
This will exclude the files. Which leads to a new problem. You only want to exclude them from being relocated. You still want them to be updated with new paths to all the referenced files that are moved around.

[2020-02-27 21:06] AnatoleLucet commented on #82
@jesperordrup #70 ?

[2020-02-28 20:06] seantcanavan opened #85 "Unexpected token { and no logging or other error output"
Hey destiny team,

I'm working with a webpack / babel project with Javascript and JSX mixed in and I'm getting this error when running the utility.

[code]

Unfortunately I have no idea how to proceed further without any additional output.

[2020-02-28 20:19] AnatoleLucet commented on #85
Strange, can you please try to create a minimal reproduction in a repo and share us the link. Thanks you!

[2020-02-28 20:31] seantcanavan commented on #85
@AnatoleLucet without any logging output I don't know which file(s) caused the error. And unfortunately I can't share company code directly. So if there's a way to find out the problem file I can start there and try to recreate the issue in another repo.

[2020-02-28 22:04] AnatoleLucet commented on #85
Gosh, we need a debug feature. I'm struggling to reproduce it. 😕

[2020-02-28 22:05] danielpza commented on #85
Just put a bunch of console.logs in several parts of destiny and see how it goes :smile:

[2020-02-28 22:13] seantcanavan commented on #85
I'm still very much a front-end newbie but if it helps our project is using Flow `0.61.0`, node-sass `4.11.0` and probably some other funky stuff going on. I'm not sure how much non-standard JavaScript syntax is supported by the project since I know it re-writes imports and moves files so it might be struggling with flow type syntax? `import type { Action } from ../actions.js`. Maybe something lik

[2020-02-28 22:28] AnatoleLucet commented on #85
@seantcanavan I've just tried with `import type` and it does work.

[2020-02-28 22:39] AnatoleLucet opened #87 "Destiny only treat import paths that start with a dot"
[Our regex](https://github.com/benawad/destiny/blob/001ea49279314b7d41ff4e189eff1c00e4062d87/src/index/shared/findImports.ts#L5) only match with import paths that start with a dot.

That's an issue because destiny is trying to resolve this import's package name as a path:
[code]

Also I don't think npm is allowing dots in packages name. But destiny should probably ignore this kind of import anyway

[2020-02-28 22:46] AnatoleLucet opened #88 "Glob stays in the tree's root path"
![](https://i.gyazo.com/49d5f12cecb082b0544692d39a7d879c.png)

The root file of the tree is `src/**/*.*`, it should probably be a simple `src`.

[2020-02-28 22:55] seantcanavan commented on #85
If you can try to get a build out with debugging for current file or file stack and current line it chokes on I can try to recreate it?

[2020-02-28 22:58] benawad commented on #85
the simplest may be to clone the project, run `node lib/destiny.js path/to/src`, should give a stack trace

[2020-02-29 08:00] sQVe commented on #88
What would you expect in cases like "**" or any other more open glob then?

The cli shows that the user inputted and what the result of that input was.

[2020-02-29 08:42] sQVe commented on #87
That should be solved easily. A tougher problem are cases where the project uses specific paths to resolve internal parths like `/src` och `@app`. This is getting more and more common in large codebases.

[2020-02-29 13:17] AnatoleLucet commented on #88
Yes you're right, I haven't thought about that. We will keep it that way then.

[2020-02-29 14:56] benawad commented on #88
The alternative would be to show the shared parent

[2020-02-29 15:02] sQVe commented on #88
@benawad That is somewhat confusing when folders are ignored. It would look like we want to remove them.

[2020-02-29 15:37] sQVe commented on #88
I'd say we have two alternatives. Either we keep it like it currently works or when a glob is inputted we get all root paths of that glob. That would probably be pretty clear to the user.

[2020-02-29 15:56] AnatoleLucet commented on #88
What about somthing like this:
[code]
`generateTrees (ignored)` in a gray color?

[2020-02-29 22:50] benawad commented on #88
I like it

[2020-03-02 12:21] waynevanson opened #91 "Architecture, Config, CLI, API — Recommendations & Discussion"
I've been thinking about and working on this project for weeks and am growing a passion towards it.
Thank you for all being so accepting, patient and prompt in your responses.

I'd like to voice some ideas and possible solutions. There's a lot here, so take your time to read and respond if you choose to do so.

## Quality of life

### Refactor

A great idea, but some of the code is messy, hard to

[2020-03-02 12:47] sQVe commented on #91
I disagree. I think the code base is in better shape now and that we should try to move our focus onto features and bug fixes. Code improvements can be introduced combined into those features and fixes.

This is already supported via https://github.com/davidtheclark/cosmiconfig.

I do not understand what you mean by this. The **cli** currently ensures type correctness.

I disagree. I think we shou

[2020-03-02 21:29] AnatoleLucet commented on #91
I also think the cli is better to stay "handily made". That aside I have planned to do a function to generate the help message. Manually adding spaces for text alignments is a mess in my opinion.

[2020-03-02 22:38] waynevanson commented on #91
I see, apologies for not seeing this earlier. Great news!

Perhaps I'll add some time into test coverage #80 instead :)

It's fine for just file paths, but will there ever be a case where we may need to add more information than just a file path? I think we would if expanding to other file extensions.

A use case could be interacting with destiny in a callback function. I'd want a callback with al

[2020-03-02 23:25] AnatoleLucet commented on #91
I've already tried something about a week ago, but never found time to continue working on it.
Here's how I've made (updated to today's `develop` branch) the flag's value implementation ([file](https://github.com/benawad/destiny/blob/develop/src/index.ts#L50)):
[code]

So you can do:
[code]

And `"a value"` will be stored in `mergedConfig.flagWithValue`.

For a list something like this is possible

[2020-03-03 07:34] sQVe commented on #91
It's more than enough to use what we already have. If we in the future see a need to expand this we'll do that but we should not try to fix something that is a **maybe**. We need to keep it as simple as possible for as long as possible.

I think `yargs` is far less readable. Our **cli** consists of one `run` function which in turn parses all options and paths by iterating over all arguments with a

[2020-03-03 07:36] sQVe commented on #91
This should be implemented with a while loop which would give us the best flexibility. That would allow us to parse multiple values for a specific option etc.

[2020-03-03 07:45] #87 closed

[2020-03-03 08:08] sQVe commented on #91
@AnatoleLucet Something like this:
[code]

[2020-03-03 08:18] AnatoleLucet commented on #91
@sQve Yep that's better 👍

[2020-03-03 10:43] jesperordrup commented on #70
@benawad

That looks like solving the issue. Input either as a config file or parameters.

[2020-03-04 09:00] k0pernikus commented on #76
@sQVe There you go:

https://github.com/k0pernikus/repro-destiny-76

[code]

The error happens when you run:

[code]

[2020-03-04 09:10] sQVe commented on #76
@k0pernikus Cheers. I'll have a look as soon as I have time!

[2020-03-04 18:40] #18 closed

[2020-03-04 19:17] sQVe commented on #76
@k0pernikus I had a look at the repo you provided and as far as I can tell `destiny` is handling this correctly. The import to `package.json` is incorrect as it should be `../../../../` instead of `../../../`. If you fix that relative path `destiny` works fine.

I might be missing something but this looks like user error to me.

[2020-03-04 19:39] SimonJang commented on #76
If you set `"rootDir": "./src"` in your tsconfig.json, then the folder structure of your project will be maintained when Typescript compiles to your `outDir`.

[2020-03-04 19:54] sQVe commented on #76
@SimonJang Sure, butdoes that relate to an relative import that points to a file that does not exist?

[2020-03-04 20:02] sQVe commented on #76
I see the issue now. This is a problem for cases where you want to require or import files dynamically that are not "included" in the build etc.

We should probably just accept imports that are not found and leave them as is.

[2020-03-05 18:58] sQVe commented on #76
On further thought... This might be difficult to fix due to us moving the file owning the import and therefore changing the relative path. The relative path may also be tweaked in `tsconfig` etc.

[2020-03-05 19:16] benawad commented on #76
Cases like this won't work by default, we would need to take some input from the user to handle it

[2020-03-05 20:11] sQVe commented on #76
@benawad That's somewhat problematic if we're aiming to provide automatic tooling for the file structure though. We would have to provide a way to configure this before hand, which makes a somewhat iffy workflow.

It may very well be the only way to solve this properly though.

A good first step would be to remove the process exit and inform the user about problematic paths. This would allow the u

[2020-03-05 21:28] moQuez commented on #41
Awesome! I was just reading that Fractal pattern article and hoped to have the chance to define multiple root entry points.  Is there anyone working on this? I might want to help out on that!

[2020-03-05 21:55] seantcanavan commented on #85
[code]

I added some `console.log` statements in `destiny.js` at line 424 ` if (pathWithExtension == null) {` in the `buildGraph` function.

[code]

actions.js contents:

[code]

This is on Ubuntu 18.04 by the way working with our mono-repo from the root directory. I've shared as much as I think I can. If this isn't enough information I can try to dig out more information some time next week hopef

[2020-03-05 22:23] AnatoleLucet commented on #41
@moQuez Do you mean multiples paths / entry points?
[code]

[2020-03-06 01:45] moQuez commented on #41
Yes, I just noticed a comment on that on another issue. Probably this is something that would be better placed on a section of the docs were talking about Fractal pattern and multiple root/entry points.

[2020-03-06 01:58] AnatoleLucet commented on #41
@moQuez I'm currently working on the doc. I don't have a lot of free time to work on it but it should be out this week-end.
It's going to cover the concept of our fractal files structure bases on Pythagore's Tree, the config file options, the cli flags, and some examples...

[2020-03-06 02:01] AnatoleLucet commented on #41
And btw, you can also give your paths to destiny in the config file via the `include` property (array of strings)
#83

[2020-03-09 22:55] waynevanson commented on #91
I think this discussion has served its purpose. Closing off.

[2020-03-09 22:55] #91 closed

[2020-03-11 14:27] SimonJang commented on #88
I fixed the log with the glob pattern. How do you see the implementation of the ignored files? I need some more information before this could actually be implemented.

- Is it graying out the ignored files?
- Is it graying out a folder that contains only ignored files?
- Is it graying out unused files?

Perhaps we need to make another issue since it looks more like a feature then a bug?

[2020-03-11 14:40] AnatoleLucet commented on #88
@SimonJang It would be nice if all the cases you described are logged as ignored files/folders.
If a folder is ingored or all his files are, it should just log the folder name in gray with the `(ignored)` suffix. It shouldn't log his child(s) only the folder name.

We will keep this issue for now, I've changed the labels.

[2020-03-11 23:24] waynevanson commented on #70
What if by default we check up to the root for a project, and run it for the top level `package.json`? This way it works with monorepos.

would work for these cases:

[code]

[code]

[2020-03-12 07:48] sQVe commented on #70
I think we should only change files that the user allows us to change. If the user points at a path we should only take that path into consideration.

[2020-03-12 13:48] jesperordrup commented on #70
I think that destiny should assume as much as possible and ask a few questions first time. Zeit now style

Assume that root is package.json is but ask for conf.
Assume that all can be moved but ask for conf or glob.
Save responses in config
Next time run without questions.

[2020-03-13 00:05] waynevanson commented on #70
I would like this to be like the example I've mentioned, so it works with workspaces (searching up the tree for package.json).

And add a CLI flag, maybe `-i` for interactive, to ask questions if it isn't the first time.

If everything can be moved, I thought it might be risky. But since the user will dry run first, it wouldn't be so risky

I think that the CLI could display the folder structure i

[2020-03-24 20:03] moranje commented on #85
Is the last bracket supposed to be followed up by a closing bracket?

[2020-03-24 20:25] seantcanavan commented on #85
@moranje no idea - the error didn't say. It didn't mention a line or symbol number so not sure if it failed to find a closing `}`. If it did it's most likely in the wrong as the code does compile - promise :smile:

[2020-03-26 11:34] AnatoleLucet commented on #52
Feature shipped in [`0.5.0`](https://github.com/benawad/destiny/releases/tag/v0.5.0). :tada:
If something is missing, comment it and I'll reopen.

[2020-03-26 11:34] #52 closed

[2020-03-26 11:38] AnatoleLucet commented on #85
Hey @seantcanavan, we've just shipped a `--debug` flag in Destiny `0.5.0`.
Can you try to run `npx destiny "src/**/*.*" --debug`?

[2020-03-29 17:50] seantcanavan commented on #85
Here's the end of the output:

[code]

If you want me to paste the rest of it I'm going to have to write a python script to anonymize the filenames or something similar.

[2020-03-29 17:55] benawad commented on #85
@seantcanavan I'm assuming the path `../_shared/actions/actions` from that file exists, would the path with the file extension be `../_shared/actions/actions.js`?

[2020-03-29 18:02] seantcanavan commented on #85
I think I know what might be causing this:

Dozens of files reference our generic `Action` type via an import line like this:

`import type { Action } from '../_shared/actions/actions';`

the file itself is:
/repo/team/project/src/_shared/actions/actions.js.flow

The first 10 lines of the file are:

[code]

[2020-03-29 18:06] benawad commented on #85
yep that's it we don't resolve the `.js.flow` file type, I'll add this.

[2020-03-29 18:07] #85 closed

[2020-04-12 16:53] rassie opened #102 "Use TypeScript's resolver to resolve modules to files"
This would allow support for repositories with TypeScript's path-altering settings like  `path` and `alias`.

[2020-04-12 19:28] AnatoleLucet commented on #102
Are you referring to `tsc`'s `--traceResolution` flag? If not, can you elaborate please?

[2020-04-12 19:35] rassie commented on #102
Probably connected, but no. Basically, my projects are using

[code]
which allows me to avoid relative imports and write `import { Something } from 'src/some/deep/path/Something.ts'` instead of `import { Something } from '../../../path/Something.ts'` while the number of double-dots depends on current location of the file in the source tree. However, `destiny` does not support those and so most of

[2020-04-12 19:52] AnatoleLucet commented on #102
Yes, we're aware of this issue.
I just haven't understood how you wanted to solve this. Thanks for the clarification!
I'll look into that as soon as possible.

[2020-04-23 02:41] AnatoleLucet opened #104 "A flag to only remove non imported files and empty folders"
This flag would tell Destiny to run but only to remove non imported files and empty folders. So Destiny wouldn't do anything else like for example, moving files and fixing import paths.

What about something like `--remove-non-imported-only`? It isn't that short, so if anyone has a better idea...

[2020-04-23 02:54] benawad commented on #104
`--remove-orphans` came to mind, but `--remove-non-imported-only` is more descriptive

[2020-04-23 02:57] jollyjerr commented on #104
How about stealing --prune from Docker? I would love to give this a go!

[2020-04-23 03:09] AnatoleLucet commented on #104
@jollyjerr seems nice to me!

[2020-04-23 09:16] Vistur commented on #102
I would also like this feature and it'd be great if it could also support JS codebases not just TS.

[2020-04-23 09:26] AnatoleLucet commented on #102
@Vistur do you mean, by using something like [Webpack resolve](https://webpack.js.org/configuration/resolve/)?

[2020-04-23 09:47] paramaggarwal opened #106 "Suggestion: Avoid duplication as file+folder"
Currently we do this:

[code]

This is confusing to me because if I import `./App` - it seems controversial to have a folder and a file of the same name in the same directory...

I recommend that we do this instead:
[code]

[2020-04-23 09:51] paramaggarwal opened #107 "Feature: Support for moving linked files in tandem"
Files can have linked files that should also move when the original file moves.

- **RN images:** Moving `icon.png` should also move `icon@2x.png` and `icon@3x.png`.
- **Jest**: Moving `add.js` should also move `add.test.js`.
- **TypeScript**: Moving `add.ts` should also move `add.d.ts`.

Possible CLI syntax:

- `destiny src --linked @2x,@3x`
- `destiny src --linked .d`
- `destiny src --linked .te

[2020-04-23 09:55] AnatoleLucet commented on #107
Hi! Can you please try this again with the `--debug` flag and send us the result?

[2020-04-23 10:34] AnatoleLucet commented on #106
So the following
[code]
Would be transformed to
[code]

I personally find it harder to read the file tree, but maybe it's just me.

Also it wouldn't describe that well who is using the file(s) in the `shared` folder.
In the above example of you suggestion we're not able to tell if `helper.js` is used by `src/index.js` and someone in `header` and / or `footer`, or if he's only used by someone in `h

[2020-04-23 11:17] Anahkiasen opened #108 "Files are not moved in a Typescript codebase"
I don't know if the fact my codebase is in Typescript is actually related but I'm just guessing here.

When I run the tool, it properly prints out the trees of the reorganized files, but when I look at the actual files nothing was moved. The imports were however updated but since no files were moved they are all incorrect.

The tool ends up with this:

[code]

But the import is only wrong because

[2020-04-23 11:20] paramaggarwal commented on #106
In the suggested approach:

- Everything that is required for the header now resides in the header folder, rather than being a single file plus a separate folder. If I want to work on the header, I go to one single place - which is the folder.
- Regarding the `shared` folder, in both scenario's it is very clear that both header and footer are depending on it. In one case it is the file, and in ano

[2020-04-23 11:25] paramaggarwal commented on #107
Actually, to make this request more generic, files can have linked files that also move when they move.

- Moving `icon.png` should also move `icon@2x.png` and `icon@3x.png`.
- Moving `add.js should also move `add.test.js` and `add.d.ts`.

Updating the request title and the original request to reflect the same.

[2020-04-23 13:48] sQVe commented on #108
What command are you running? Also, could you please provide a repository where we can replicate your issue.

[2020-04-23 14:01] ForbesLindesay opened #109 "Test File Location"
When using jest, it's common practice to name the test files `ComponentName.test.js` and put them in an `__tests__` directory next to the component. Since these tests import the component and the component does not import the tests, destiny naturally tends to flip the directory structure around. This is unfortunate as it makes it look like the test is the "entry point" rather than a supporting fil

[2020-04-23 14:03] ForbesLindesay commented on #109
I just saw #107 which I think is closely related to this.

[2020-04-23 14:04] ForbesLindesay opened #110 "Defining fixed point/public files"
Sometimes a single repository can have multiple entry points. e.g. `my-library/server` and `my-library/client`. Ideally there should be a way to mark a file as being a "fixed point" that other files can be positioned around, but that shouldn't move themselves. Otherwise the public API of a package can be modified by destiny.

[2020-04-23 14:10] ForbesLindesay commented on #110
In my own projects, I've been using `// @public` (https://github.com/ForbesLindesay/atdatabases/blob/4812d65ed8af3a4e9dda5e9e782ace85cc983b68/packages/pg-test/src/jest/globalSetup.ts#L1) as a way to mark a file as part of the public API. Then to avoid having the import paths be `my-package/lib/thing` I use a pre-publish step (https://github.com/ForbesLindesay/atdatabases/blob/4812d65ed8af3a4e9dda5

[2020-04-23 14:28] Rheeseyb opened #111 "Fails on imports that are part of a string"
Our project is somewhat unique in that it has to handle evaluating arbitrary code, so our tests include stringified code examples, some of which include import statements. Since this project uses a regex to capture all import statements it is being tripped up by e.g.:
[code]

In our project we use Typescript to parse and tokenise a source file, and then traverse the nodes to find all of the import

[2020-04-23 18:25] AnatoleLucet commented on #106
Well ok, I haven't seen it that way. Why not.

cc @benawad, @sQVe any thought?

[2020-04-23 19:58] Anahkiasen commented on #108
I'm trying with `destiny -w src/components/**/*` in [this repository](https://github.com/Anahkiasen/the-winter-throat)

[2020-04-23 22:04] AHBruns opened #112 "Feature Request/Exploration: `de-structure` flag"
I've very much enjoyed using destiny, and I have find it to be very useful even with it's limited API (in many ways, I actually enjoy the lack of customizability).

Anyways, during the course of my usage I've come to the conclusion that it might be very helpful to have a `de-structure` flag. That is, a flag that takes a structured folder and returns a flattened version in which all the files are i

[2020-04-23 22:10] AHBruns commented on #112
I should add I'd be happy to work on this feature. Also, I can reformat this issue if needed. I didn't find an issue template hence the lack of structure.

[2020-04-23 22:21] AnatoleLucet commented on #112
That actually a really good idea. We all have our personal preferences when it comes to liting / prettification, this would easily able each dev to work with their own preferences on a common project.

This only is, what if two files are named the same way but in different folders? How can they both belong in the same folder with the same name when the structure is flatten?
We should find a solid

[2020-04-23 22:29] AnatoleLucet commented on #112
Maybe instead of having this flatten structure, Destiny could simply run with the default config? Then it would be easier to find files on the repo.

[2020-04-23 23:25] AHBruns commented on #112
I think that’s a good simplified version of the idea and is probably worth implementing as a v1. However, it omits one of the big advantages which is preventing large diffs due to the the file structure changing drastically even though the code has only been changed a little.

I think, appending a deterministic UUID to file names on commit and stripping on pull could solve the duplicate name issue

[2020-04-23 23:30] AHBruns commented on #112
As for keeping the remote readable, I’d push for a browser extension rather than storing a structured version since any programmatic file structure could have big changes due to small code changes.

[2020-04-24 00:09] AHBruns commented on #112
The other option is just requiring users to uniquely name their all their files. Apparently this is enforced at Facebook which seems like a decent signal.
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Alternatively you could make longer and unique names (and even enforce those). This is what we do at FB and navigating a giant monorepo with just “jump to file” is great. I don’t even look

[2020-04-24 03:03] benawad commented on #112
Is there a reason you specifically want a flat structure to be stored in Git?

You could store the default `Destiny` structure in Git and then use a different config locally.

[2020-04-24 03:40] SimeonC opened #113 "Support module aliases"
In our projects we make heavy use of flow's module.name_mapper and also babel's module alias configuration. This lets us make imports like this `import SideNav from 'modules/SideNav';`.

Then in .flowconfig we have `module.name_mapper='^modules/\(.*\)$' -> '<PROJECT_ROOT>/src/modules/\1'`

But this doesn't work in destiny as they aren't relative paths and the graph can't be built. I don't know if

[2020-04-24 03:40] benawad commented on #106
We need to start thinking about how we want to customization api to work for cases like this

[2020-04-24 04:28] AHBruns commented on #112
My only motivation for a flat structure is smaller diffs. I may be missing something obvious, but I'm not sure how `git mv` would play into this since, afaik, it's just an alias for `mv oldname newname && git add newname && git rm oldname` which means you're still causing diffs when moving files around. It seems like this is problematic because little code changes can cause destiny to output a ver

[2020-04-24 06:43] paramaggarwal commented on #106
I am actually in the convention over configurability camp. Hence, if we choose to go ahead with the current approach I'll use that instead.

It's just that I tried it out on my projects and found it little awkward to have a file and a folder of the same name.

I just realised that one benefit of having the component name in the file instead of having `component/index.js` is that it is easier to op

[2020-04-24 06:43] #106 closed

[2020-04-24 12:30] adrian-goe opened #114 "Problems with global scss"
If am has a global imported scss file that defines e.g. colors, it seems that this is not recognized and the following error message appears:

[code]

[2020-04-24 16:07] jigs611989 opened #115 "React Native Project Import Image @1x, @2x, @3x"
`$ destiny ./src `

INFO: Generating tree for: ./src
ERROR: Cannot find import ./Img/sam.png

Actually, the files are sam@1x.png, sam@2x.png, sam@3x.png but we just have to use it as
require('./Img/sam.png')

For Example
[code]

`
<Image source={require('./img/check.png')} />
`

For detail check [Images - React Native](https://reactnative.dev/docs/images)

[2020-04-24 16:25] AnatoleLucet commented on #115
duplicate of #107

[2020-04-24 20:33] dcramer opened #116 "pre-commit hook"
It would be great to have a pre-commit hook native in the destiny project:

https://pre-commit.com/

[2020-04-25 00:45] sumanthratna opened #118 "Relative paths not working with React app"
I ran `npm i destiny --save-dev`, then `npx destiny ./src --debug` and this is what I got:
[code]
for the repo https://github.com/hacktj/2020.

Relevant code: https://github.com/HackTJ/2020/blob/de27266d2dbe63df445cfbe7c03bc4f276da453c/src/MainPage/Sponsors/Logo/index.jsx#L33-L46.
[code]

Could be related to https://github.com/benawad/destiny/issues/115.

[2020-04-25 01:01] lifeiscontent opened #119 "Simplify imports"
I ran destiny on my codebase. Here's the diff.

[code]

I'd say the previous result was cleaner and since node already resolves `index` files I'd suggest that destiny take this into account.

[2020-04-25 01:15] AHBruns commented on #116
Maybe worth tying this to #112?

[2020-04-25 01:20] lifeiscontent opened #120 "Maximum call stack size exceeded"
log:

[code]

[2020-04-25 02:14] benawad commented on #120
is it possible to share the repo you ran this on?

[2020-04-25 03:01] lifeiscontent commented on #120
@benawad i don’t think so, but I don’t mind doing a pair programming session to let you debug if that works for you.

[2020-04-25 03:48] benawad commented on #112
I dug into this a little bit and you're right, `git mv` still gives you a big diff unless you do `--no-renames`.

I'm not opposed to a `de-structure` flag then

[2020-04-25 10:32] irudoy opened #122 "Support query parameters in import statements"
Destiny doesn't support webpack [resource query](https://webpack.js.org/configuration/module/#ruleresourcequery). I think it should remove the query section of a request string before resolving it.

Example:
[code]

ERROR: Cannot find import ./foo.css?inline

[2020-04-25 11:06] AnatoleLucet opened #123 "A robust way to resolve import."
After seeing the recent opened issues (#122, #113, #102, #115, #107, and probably more that will come...), I've noticed that we clearly need a more robust way to resolve imports. I'm thinking about a package made for Destiny but, that could be used by anyone else for any kind of projects. I assume there would be some interest for such a package (a simple utility in Destiny's engine wouldn't permit

[2020-04-25 14:11] benawad commented on #123
I agree

I don't think resolving Dynamic imports is possible, unless we eval their code?

Maybe we just detect dynamic imports and show a warning that we can't handle them

[2020-04-25 14:13] benawad commented on #120
that works, I'll shoot you an email

[2020-04-25 14:49] AnatoleLucet commented on #123
Could probably be done using [Typescript's compiler API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API).

But a warning could do the job until this is developed.

[2020-04-25 20:00] jdeniau opened #124 "Dependency cycle with TypeScript types"
Hi,

thanks for developing destiny. It looks really interesting.

I noticed #123 and all linked issues, but I prefer opening a new issue, even if it can be related.

Imagine the two following files:

main.ts
[code]

foo.ts
[code]

Running destiny, I got the following warning:
[code]

And with bigger codebase, I think it it responsible for not having the `shared` folder, but a list of nested direct

[2020-04-25 20:12] lifeiscontent commented on #120
@benawad sorry for the late response, I have responded to the email.

[2020-04-25 20:29] benawad opened #125 "double check tilde works"
`destiny ~/**/*.js`

[2020-04-25 20:57] AnatoleLucet commented on #124
Hi! I have some trouble understanding what's the issue here. Can you please describe what Destiny currently do with your example and what you expect it to do?

[2020-04-25 20:59] AnatoleLucet commented on #125
Do you mean that the tilde isn't recognized?

[2020-04-25 21:27] AHBruns commented on #112
Okay, I'll spend the next week getting familiar with the codebase, and try to have a PR open for a v1 of this feature in the next month or so. Sorry for the slow speed, I'm a student and have finals coming up in the next few weeks. Any input on how ya'll would like the API for this to look would be appreciated.

[2020-04-25 21:33] benawad commented on #125
yeah was testing on someone else's computer and didn't work, this was a reminder to check what happens when I include a ~

[2020-04-25 21:53] AnatoleLucet commented on #112
No worries. There's no rush on that.
If you have any questions about how this could be implemented to Destiny you can come chat on [Gitter](https://gitter.im/destiny-dev/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) 😉

[2020-04-25 22:06] AnatoleLucet commented on #125
`path.resolve` doesn't resolve `~` to the home dir. A simple condition that checks for `~/` at the beginning of the path or `~` and replace it by `os.homedir()` should do the trick.

[2020-04-25 22:22] lifeiscontent opened #126 "destiny does not crawl `require` statements correctly"
I ran destiny on my node_modules folder and had `ejs` npm package installed.

even though the code is correctly pointing to the right path, destiny seems to think its not.

Steps to reproduce:

1. create new folder
2. yarn add ejs
3. run destiny on node_modules folder `destiny "node_modules/**/*.*"`

log:

[code]

[2020-04-25 22:32] AnatoleLucet commented on #126
Just a curiosity question, why in the hell would you run Destiny on your `node_modules`? :smile:

Joke aside, I'll try to run Destiny on ejs' repo and see if I can find an error that we're not aware yet.

[2020-04-25 22:50] AnatoleLucet commented on #125
Should be resolved with 40b36a2

[2020-04-25 22:50] #125 closed

[2020-04-26 00:14] AnatoleLucet commented on #126
Well I don't really understand what's the issue you're pointing at. `node_modules/ejs/ejs.js` try to import `./utils.js` which doesn't exist.

There's the same `ejs.js` in `node_modules/ejs/lib` and a `utils.js` beside it.
If I run Destiny on `lib`, it prints out the following (which is the correct expected output):
[code]

[2020-04-26 00:19] AnatoleLucet commented on #126
I'm closing this for now since it seems more like you're not correctly using Destiny then a bug.
You can check our [documentation](https://github.com/benawad/destiny/wiki) if you want.

[2020-04-26 00:19] #126 closed

[2020-04-26 02:43] AHBruns commented on #123
It seems that the best approach to this would be to define a DestinyLinkParser interface and create a few implementations for the initial languages we want to support (not sure what these are as of now). Then, as we add new languages, we just have to write a new parser that implements the interface. I bet this would make community contributions much easier to.

Also, I came across a pretty nasty b

[2020-04-26 13:49] AnatoleLucet commented on #123
JS-like languages (e.g. Typescript, Flow...). We're also trying to support css pre-processors, but it doesn't work that well for now (#114).

#127 should fix that for the time being.

[2020-04-26 15:57] AnatoleLucet commented on #118
Destiny is unable to resolve computed import path (e.g. `require("../../img" + imgName)`) by now.
See #123 for more info.

[2020-04-26 15:57] #118 closed

[2020-04-26 16:26] #120 closed

[2020-04-27 01:37] #119 closed

[2020-04-27 01:41] lifeiscontent commented on #126
@AnatoleLucet I did it more or less as a demonstration, its not a practical use case, but more or less a way to find bugs. Regardless of this being in node_modules or not, it should still not error.

[2020-04-27 14:32] AnatoleLucet opened #128 "Destiny rewrite the first match to the original import path that he can find."
If I have the following code:
[code]
Then Destiny will replace the first match by the original path. So it will be re-written to the following:
[code]
Destiny shouldn't rewrite `randomVar` content, it should replace the import path at the third line.

It also does the same with comments (should do the same with every way to write the path in the code).
[code]

[2020-04-27 14:47] AnatoleLucet opened #129 "Destiny doesn't resolve imports with a comment at the end of the line."
If I have this code:
[code]
Destiny will ignore this import.
[code]

This is related to the `reComment` regex.
https://github.com/benawad/destiny/blob/daee3c0428a3ed27e83b324a9129458b0baa16bc/src/index/shared/findImports.ts#L6

The regex match the whole line (see on [RegExr](https://regexr.com/53dm1)) instead of the comment. So the `.replace()` will simply remove the whole line.

[2020-04-27 14:59] AnatoleLucet commented on #126
Why? Maybe it's just me, but it actually seems to works correctly.

There's the following in the `package.json`:
[code]
So the `./lib/ejs.js` is the correct file (see [npm's doc](https://docs.npmjs.com/files/package.json#main)). I don't know why there's an `ejs.js` file in `node_modules/ejs`, but it's clearly not a file that's intended to be used.

[2020-04-27 20:54] #129 closed

[2020-04-28 20:51] darkalghul opened #131 "Does not work with React"
When running `npx destiny src` I got the following output.

![Screen Shot 2020-04-28 at 14 50 18](https://user-images.githubusercontent.com/9381648/80536425-9d2b9900-895f-11ea-8ba4-c5bd1a614300.png)

But my folder structure it looks the same as before, nothing change.

React is not supported?

[2020-04-28 21:12] AnatoleLucet commented on #131
You need to use the `--write` (or `-w`) flag.
[code]
https://github.com/benawad/destiny/wiki#write

[2020-04-28 21:12] #131 closed

[2020-04-28 23:19] #111 closed

[2020-04-28 23:24] AnatoleLucet commented on #111
@Rheeseyb Thank you for your proposal with Typescript AST, but we've decided to stick with the regex for performance reasons. See #127.

Destiny shouldn't try to resolve imports that are parts of a string from now.
![great success](https://user-images.githubusercontent.com/35486736/80547292-22db3300-89b8-11ea-850a-ccedf1d06aff.png)

[2020-04-29 09:40] Rheeseyb commented on #111
Oh wow, that was indeed a huge performance difference! Thanks

[2020-04-29 12:20] FrimJo opened #132 "ERROR: Cannot find import ."
Hi guys and gals, I can't seem to find any similar issue here.

I have this project and file structure as shown below in the debug output, and I get this weird error as shown at the end of debug output. I've seen similar problems but then the error points towards a specific file, for me it just points to `.`

[code]

[2020-04-29 13:33] benawad opened #133 "Log the file where the import can't be found"
help with debugging stuff like #132

[2020-04-29 13:34] benawad commented on #132
Do you have an import that is just `.`

[2020-04-29 13:35] AnatoleLucet commented on #133
#117, I'll release it.

[2020-04-29 13:35] #133 closed

[2020-04-29 13:43] AnatoleLucet commented on #132
@FrimJo We've just shipped a new version ('0.6.2') which should tell you in which file Destiny is unable to resolve your import.
Can you please try it again with this new version and share the result with us?

[2020-04-30 10:51] FrimJo commented on #132
@benawad Sorry for taking up your time. It was one of my tests using `import … from '.'` which did not resolve, didn't notice because I just removed all my barrel index files from the project and didn't notice my tests had problems.

[2020-04-30 10:51] #132 closed

[2020-05-05 12:34] Fakkio opened #134 "Madge"
Hi,

have you considered using madge for making the directed graph? It seems very powerful!

Fabio.

[2020-05-05 20:04] benawad commented on #134
Nope, we didn't need any fancy graph stuff, so we just implemented our own graph operations.

[2020-05-10 16:39] galkatz373 opened #135 "Error: ENOENT: no such file or directory, scandir"
Hello,
Recently I tried to use this amazing library and after running ``` npx destiny -w src ```
I got this problem:
[code]

I will appreciate any help.

[2020-05-10 16:47] AnatoleLucet commented on #135
Hi 👋 can you please run this again using the `--debug` flag (`npx destiny -w src --debug`) and send us the logs? Thank you!

[2020-05-10 18:51] galkatz373 commented on #135
[code]

[2020-05-11 13:24] benawad commented on #135
Is it possible to share the repo you ran this on?

[2020-05-11 14:37] galkatz373 commented on #135
Unfortunately i can't. Is there any other way I can help?

[2020-05-11 15:40] benawad commented on #135
Does the path `C:\Projects\MyProject\client\src\Components\ToolKit\FormikInputs\TreeSelectField.js` exist on your computer?

If not, where is `TreeSelectField.js` located?

Where is the file that imports `TreeSelectField.js` located? What does the import statement look like for that file?

[2020-05-11 15:59] AnatoleLucet commented on #135
This error should append when you give an empty string to `fs.readdirSync`.
![](https://i.gyazo.com/d1b2a7185a91a68a6e2734139b2f889d.png)
(if the given path doesn't exist the error should look like: `ENOENT: no such file or directory, scandir "non/existing/path"`)

I was expecting the full debug output, but if you can't share this because its work related or something: can you check if there's an

[2020-05-11 16:31] galkatz373 commented on #135
yeah it's empty
[code]

[2020-05-12 05:28] galkatz373 commented on #135
It does exist, but no files use him.
Even if i get rid of all the files i don't use, still the same issue occurs with files i do use.

[2020-05-12 14:01] benawad commented on #135
@AnatoleLucet hmm,  do you know the problem from this?

[2020-05-12 14:48] waynevanson opened #136 "Debug file output's chalk characters"
When I saved log data to a file, any character that has been wrapped with Chalk displays the colour characters.

Should this be the case? I assume it's easier to read without the chalk stuff there.

[code]

[2020-05-12 15:09] AnatoleLucet commented on #135
@benawad I didn't had that much time to investigate. For some reasons `parentFolder` is an empty string. Maybe a strange char in the folder name? Maybe something is parsing the path in a way that he became an empty string?
@galkatz373 do you use "non conventional" folder names, like `my\folder` or `fôlder`?

[2020-05-12 15:29] galkatz373 commented on #135
no, but my folders start with capital letters

[2020-05-12 15:44] QuentinRoy opened #137 "Unexpected arrangement of the dependencies of shared dependencies"
When a shared file has dependencies, those remain near the first use of these shared file. This is an example from a real project:

[code]

Notice how the dependencies of `Area` and `CheckBoxWithLabel` are not quite near the file that depends on them? It makes it quite difficult to find them. Is this on purpose?

[2020-05-12 17:11] AnatoleLucet commented on #137
Yep, this is intended.

From the [doc](https://github.com/benawad/destiny/wiki):
"the shared dependencies are always placed in a shared/ folder which is located beside the highest dependent file (or the shared parent if dependent files are nested)."

Do you have an idea of a better way to place this kind of file?

[2020-05-12 17:14] AnatoleLucet commented on #135
If I push a custom build of Destiny (with logs that will help to debug this issue) on a new branch, would you be able to run it on your project?

[2020-05-12 17:43] galkatz373 commented on #135
yeah for sure. thank you so much for you time

[2020-05-12 18:15] QuentinRoy commented on #137
In this case, I believe the `Area` folder should be in the same directory as `Area.js` for example, i.e. `shared`. How can I know where it is otherwise? Nothing in `Area.js` tells me `ParticipantSetup` depends on it, and many other files actually depends on `Area.js`, but the `Area` folder isn’t there.

[2020-05-12 18:49] AnatoleLucet commented on #137
Ahh yes, you're right. I misunderstood what was your issue in the first place.
The `Area` folder should definitely be in `shared` beside `Area.js`.

[2020-05-12 19:03] QuentinRoy commented on #137
Great! Thanks for this great project!

[2020-05-12 22:44] AnatoleLucet commented on #135
There you go. Here's the build: https://github.com/benawad/destiny/blob/tmp/%23135/tmp-build/destiny.js

I don't know if you have wget on windows but you can do the following to download it:
`wget https://raw.githubusercontent.com/benawad/destiny/tmp/%23135/tmp-build/destiny.js -P C:\<folder_to_download_the_file>`

And then to run it:
`node C:\<folder_to_download_the_file>\destiny.js <path_to_src>

[2020-05-13 16:07] galkatz373 commented on #135
I did the debug and made some slight name adjustments, hope it doesn't ruin it.

[code]

[2020-05-13 16:22] AnatoleLucet commented on #135
Your imports are written with forward slashes, right?

[2020-05-13 16:24] galkatz373 commented on #135
yes

[2020-05-13 16:45] AnatoleLucet commented on #135
Ok so that's an issue with `path.sep`.
[code]
[code]
I'm going to fix this a bit later in the day. Thank you for taking the time to run the build!

[2020-05-15 16:06] AnatoleLucet commented on #135
@benawad as you can see below, Glob is always replacing backward slashes by forward slashes (even on Windows).
[code]
This cause multiples issues. Shall we only use forward slashes like Glob is doing, or shall we transform Glob's paths to backward slashes on Windows?

To be clear I'm not speaking about the import paths in the user's code, only about the way that Destiny is handling paths in intern

[2020-05-15 22:44] lifeiscontent opened #138 "ignore `node_modules` directories"
It would be nice to run destiny in projects that don't use a `src` folder. Currently not possible due to `node_modules` being in the same dir.

[2020-05-21 23:40] ChrisBrownie55 opened #141 "Changes imports to use incompatible \\ (double backslashes) on Windows"
When running destiny on Windows from powershell, it changes all of the imports to use double backslashes so:

[code]

became

[code]

And this completely doesn't work when running my code with `vite serve src` as I believe it's using ES Module import syntax in the browser to resolve files

[2020-05-22 00:07] ChrisBrownie55 commented on #141
Is there a way to disable these backslashes? If so, is there a way we could add it to the README and the `--help` info?

[2020-05-22 08:03] AnatoleLucet commented on #141
Yes, we're aware of that from #135.
A fix is going to be reviewed #140.

[2020-05-22 08:03] #141 closed

[2020-05-22 13:10] ChrisBrownie55 opened #142 "Different folder structure results in Windows vs Linux: missing src folder"
When running the command `yarn destiny ./src` the results are different between Windows and Linux. Linux behaves as expected and organizes the files and directories inside of the `src` directory, whereas, Windows places the files at the root of the project.

### My project file structure:

[code]

### Linux result (works as expected):
[code]

### Windows result (very much not expected):
[code]

I

[2020-05-22 13:52] AnatoleLucet commented on #142
Destiny is moving every files out of `src` for the same reason as #135.

It seems like there's also an issue with the way that Destiny print the tree. I've tried to run `destiny src -w` using the build from #140  on a Vite React template and it correctly prettify the file structure, but the printed tree is the same as on your screenshot (except all the files were in the `src` folder).

[2020-05-22 15:06] ChrisBrownie55 commented on #142
@AnatoleLucet Yeah I just tried out that PR too (had to fork it to change npm build script to work when doing `yarn add` with a GitHub repo) and it fixed the src thing but yeah, is the tree generating thing just not recognizing the `\` as a valid separator or something?

[2020-05-22 20:01] #128 closed

[2020-05-22 20:02] #135 closed

[2020-05-22 20:06] AnatoleLucet commented on #142
Yep, this might be it.

[2020-05-23 11:50] AnatoleLucet opened #143 "Wrong shared file location"
When running `npx destiny src --debug` on Destiny's repo:
[code]
`logger.ts` is misplaced. It's the only one I saw, but there may be more...

[2020-05-24 18:25] ChrisBrownie55 opened #144 "Documentation on best/common way to integrate into a project"
As it currently stands, I can't seem to find a great way to integrate Destiny into a project. When should I be running Destiny? I mean, ideally, it would be whenever an import is changed or when a file is referenced/created.

The only way I've found to run it consistently is to run it on pre-commit with husky, is that the best practice currently? What do you do for this repo?

All of this informat

[2020-05-25 09:10] #134 closed

[2020-05-25 13:24] AnatoleLucet commented on #144
On this repo will still manualy run Destiny on `src`. But maybe a day we'll switch to a lint stage or a husky hook. I personally use it that way on another project.

A watch mode has been mentioned in #17. It could be a possible way to use it.

There's also a discussion in #112 about a "flat structure" on the remote repo.

I though about an IDE plugin, but I don't know if it would be viable.

[2020-05-25 15:33] ChrisBrownie55 commented on #138
I like the idea of adding a `-I` (or `-i`) and `--ignore` option. I think we'd just need to run all of the files that matched the original glob through this glob. If they match the `--ignore` glob we'd just remove them from the output. There could be a more efficient way to do this though (I mean `node_modules` should just be ignored by default IMO)

[2020-06-02 07:02] BBlackwo commented on #116
Might be able to use [Husky](https://github.com/typicode/husky).

[2020-06-07 20:14] ChrisBrownie55 opened #145 "Incompatible with TypeScript projects"
TypeScript does not support imports like `import x from './index/xyz'` (you're trying to import `./index/xyz.tsx` here) when there is also a directory called `index/xyz/` because it compiles the code to `import x from './index/xyz/index.js`. Normally I'd just include the file extension `.tsx` but TypeScript hates that.

Example of a project that would break TypeScript with `'./index/App'` import:

[2020-06-22 09:24] AnatoleLucet commented on #145
If I fully understand, when you're importing `import x from './index/xyz'` typescript's compiler is transpiling this into `import x from './index/xyz/index.js'` but it's supposed to be `import x from './index/xyz.js'`?

[2020-06-22 09:52] AnatoleLucet opened #146 "Markdown support"
At first I thought it was dumb, but after thinking about it ... I think it could be a nice feature for those big documentations.

A little example:
[code]

`main.md`
[code]

---

Here's the kind of imports Destiny should resolve (also works with folders):
- `./something.md`
- `something.md`
- `../something.md`

Notice that a markdown file can be linked without specifying a `./`. Destiny is current

[2020-06-23 17:55] ChrisBrownie55 commented on #145
Yeah, that's exactly the problem I'm encountering 👍

[2020-06-23 18:27] AnatoleLucet commented on #145
Did you opened an issue on [Microsoft/TypeScript](https://github.com/Microsoft/TypeScript)?
Maybe it's supposed to do what it does?

Also can you share a repo and steps to reproduce the issue please? 🙏

[2020-06-23 20:26] ChrisBrownie55 commented on #145
I didn't open an issue yet, seems like something that TypeScript isn't going to want to change but I can open one up and see what happens. And I'll see what I can do about making a repro for this

[2020-06-24 20:34] ChrisBrownie55 commented on #145
So I was looking into it more while trying to create a replication and it looks like the issue might have to deal with specifically the configuration that the React TypeScript Snowpack starter `@snowpack/app-template-react-typescript` is using as I can't replicate this issue at all with just plain old TypeScript.

[2020-06-24 20:35] ChrisBrownie55 commented on #145
I'm gonna close this for now as it seems that this is a Snowpack specific problem

[2020-06-24 20:35] #145 closed

[2020-07-01 08:43] Robertfj opened #147 "remote.require()"
I'm using Electron with React.

Whenever i have a remote.require(), the filepath will never get resolved, as it's really resoving it from top level main.js, and Destiny is trying to resolve it from where it's called.

would it be possible to add an exclution in the regular expression for 'remote.require' ?

Sample import:
[code]

[2020-07-01 10:16] AnatoleLucet commented on #147
By now there's no way to do this with Destiny.
But some work is in progress to resolve "non-vanilla" imports (see #123). I'll add this case to #123 to keep everything in the same place and close this issue.
Thank you for pointing this out.

[2020-07-01 10:16] #147 closed

[2020-07-02 04:43] osdiab commented on #113
On a related note I am interested in trying this out on my project but alongside this particular problem (we use `src/` as an alias for source code and keep every import absolute), in addition our structure is a monorepo via `yarn workspaces` - as such if I update file locations in one of the subpackages the other subpackages need to change their references to the shared repo as well. Probably a s

[2020-07-02 22:39] AnatoleLucet commented on #113
@osdiab Hi, what are you using to alias `src/`? Typescript's aliases? We're trying to find every possible ways to tweak the js imports so Destiny would be able to resolve non-vanilla js imports (see #123) out of the box.

This is already tracked in #70.

[2020-07-02 22:41] AnatoleLucet commented on #70
Just thought about a `--static` flag. E.g. `destiny ./src --static ./tests`...

[2020-07-03 04:57] osdiab commented on #113
I use a few different systems:

- for our api (`packages/api/`), we just set the `baseUrl` to `.` at the project root, and restrict the `include` field to `["src"]`

[code]

- for the api's tests (`packages/api/__tests__/`), it has its own `tsconfig` that extends the API's `tsconfig`, but includes the API itself as a project reference.

[code]

- for our frontend web app (`packages/website/`), whi

[2020-07-03 13:10] AnatoleLucet commented on #113
Thank you! I've added Yarn workspaces and TSC's `baseUrl` to the list in #123.

[2020-07-03 18:27] AnatoleLucet commented on #115
It seems like the author of #107 has changed the purpose of the issue, so I'll reopen this one.

[2020-07-03 18:28] AnatoleLucet commented on #107
@paramaggarwal Hi! Is there a reason why you would close this issue?

[2020-07-03 18:29] paramaggarwal commented on #107
Hi! I was going through all my open issues across GitHub and closing old ones. Should I reopen?

[2020-07-03 18:37] AnatoleLucet commented on #107
Well, it seems like nobody had the time to implement this feature for now. But I believe this is a nice to have.
I'll reopen it, thanks for the clarification.

[2020-08-06 07:05] AnatoleLucet opened #150 "Benchmarking Destiny on CI"
It could be nice to see how much new PRs/changes affect Destiny's performances by benchmarking the build on the CI.

A tool like [Hyperfine](https://github.com/sharkdp/hyperfine) should be fine for this task. I found a [Github Action for Hyperfine](https://github.com/blacha/hyperfine-action), but it doesn't seem to be very popular.
I guess we could try to go with this action anyway (its code seems

[2020-08-07 10:57] #136 closed

[2020-08-14 02:37] benawad opened #151 "collapse top level index folder"
its weird to have a folder called `index` so just bring up all the files in it one level

[2020-08-14 08:26] AnatoleLucet commented on #151
From this:
[code]
to this:
[code]
?

I mean, why not. But I think we must implement this under a config option / cli flag and not make it the default.

[2020-08-14 14:15] benawad commented on #151
How come?

[2020-08-14 14:31] AnatoleLucet commented on #151
I'd be the **chaos** to have multiple entry points in a folder structured by Destiny. For example, when using Destiny on sub folders of `src` this approach may not fit since each folder have multiples entry points (e.g. a `components` folder).

[2020-08-14 14:41] AnatoleLucet commented on #151
I think Destiny should be able to run on any kind of js / js-like codebase without any issue and then be configurable to suit the user's preference.

[2020-08-15 01:02] benawad commented on #151
How does it break down for multiple entry points?

[2020-08-15 10:50] AnatoleLucet commented on #151
Current output:
[code]

Your proposal output:
[code]

How can you find out which file is dependent on whom?
Also, what if both `footer.js` and `header.js` has a deps with the same name e.g. `layout.js` (not a shared deps, just the same file name). We'd need to rename these two files so they can be in the same folder.

[2020-08-16 00:08] benawad commented on #151
What do you think of collapsing it only if the folders name is `index`?

[2020-08-16 12:24] AnatoleLucet commented on #151
I'm not sure. Some apps name their entry point `main.js`, `app.js`, `server.js`, etc... I don't know if it's a good idea to do something specific based on a file's name (except for ignoring folders / files like node_modules or something).
I still think we should do this as a flag / config option.
We may need something like a `destiny init` to ask this kind of questions though.

[2020-08-17 08:29] AnatoleLucet commented on #151
Or else, we can detect if there's one single file at top level. It seems pretty obvious but I didn't thought about it before now...
[code]
Then why not. But with this, I think we should also give an option to the user so he can disable this feature if he wants to.

But I'm not sure how we'll dill with shared deps. Shall we do this only if there's no `shared` folder at top level, or merge it with t

[2020-08-18 04:02] benawad commented on #151
that's a good point, I think merging is probably the right choice, but I'll think on this.

[2020-08-18 13:07] DGKSK8LIFE opened #152 "Why use this project over webpack?"

[2020-08-18 14:50] benawad commented on #152
because webpack doesn't prettify folder structures as far as I'm aware

[2020-08-18 14:50] #152 closed

[2020-08-18 15:08] DGKSK8LIFE commented on #152
@benawad Yes it does: https://github.com/hawkins/prettier-webpack-plugin and https://github.com/danielterwiel/prettier-eslint-webpack-plugin

[2020-08-18 15:46] AnatoleLucet commented on #152
@DGKSK8LIFE I think you misunderstood the goal of Destiny.

Destiny prettify your **folder structure** and not the code inside you files.

[2020-08-18 16:57] DGKSK8LIFE commented on #152
k @AnatoleLucet

[2020-08-18 20:11] AnatoleLucet commented on #152
you're welcome

[2020-08-19 15:10] #115 closed

[2020-08-19 15:10] #138 closed

[2020-10-09 09:38] RoMeAh-zz opened #154 "Dynamic Import Problem"
i have a code in which i import dynamically. while i try to prettify the file structure i get a error of  `ERROR: Cannot find import ./Handlers/${t}`

[2020-10-09 10:43] AnatoleLucet commented on #154
Yes, we're aware of this. See #123 for more infos.
But in short: Destiny can't resolve computed imports because it would need to evaluate your code.

[2020-10-09 10:43] #154 closed, assigned to nobody

[2020-10-26 15:47] tqwewe opened #156 "Cannot find import .yml file in svelte import"
When running this on my svelte app, I receive the following error:

My Header.svelte file contains:
[code]

When I comment out the `import type` line, destiny runs fine, but the `import type` line causes it to fail.

[2020-10-26 16:23] AnatoleLucet commented on #156
Hi @Acidic9 can share a reproduction (codesandbox, gh repo, etc...) ? Thanks.

[2020-10-26 16:44] benawad commented on #156
I think we just need to add yaml to https://github.com/benawad/destiny/blob/develop/src/index/shared/customResolve.ts

[2020-10-26 16:48] AnatoleLucet commented on #156
Indeed

[2020-10-28 22:27] roguib opened #157 "Tests are failing in Windows"
I was playing around with the project, trying to find an optimal solution for https://github.com/benawad/destiny/issues/142 since I'm on Windows, but after making some changes to the codebase I decided to run the test suites with ```yarn test``` and some of them were failing. I thought that maybe was a consequence of my changes, so I tried again without any changes and tests were still failing. Th

[2020-10-29 17:47] roguib commented on #157
Just a quick update. After installing node and yarn in WLS2 I was able to pass all the tests. The results were the following:

[code]

I'm not sure why tests are failing in Windows PowerShell or, at least, in my PowerShell. I'd like to use the debugger to be able to inspect the code but, for some reason, it fails after being attached with the following message.

[code]
I've tried to change the bas

[2020-11-20 21:37] NatoBoram opened #159 "Support for Dart"
Hi!

[Dart](https://dart.dev/) has a similar way of importing files to TypeScript, and I think it could be a neat idea to try to support Dart.

[2020-11-30 15:32] danielpza commented on #123
There's some support already on https://github.com/AnatoleLucet/Deema for typescript's tsconfig.json, I tried it out with destiny and seems to work:

[code]

Some adjustments on the import regexp is needed though, some imports like `import { ... } from '@/shared/components.js'` were not working because is not a relative path

[2020-11-30 15:46] AnatoleLucet commented on #123
@danielpza If you'd like, I can release an initial version of deema with what you did so we can implement it in destiny.
It'd help to get some users' feed back.

[2020-11-30 15:54] danielpza commented on #123
@AnatoleLucet yeah, that would be great.

[2020-11-30 16:05] AnatoleLucet commented on #123
Done https://www.npmjs.com/package/deema

[2020-12-13 23:41] Ryan-Florida commented on #143
@AnatoleLucet This seems to be a side effect of the circular dependency caused by the `import { Config } from "../index";` line in `generateTrees.ts`. I do not know if the circular dependency is there intentionally so -- I see there is some logic/testing surrounding circular dependencies -- but I see two different paths forward depending on whether or not the circular dependency is intentional.

[2020-12-14 00:11] Ryan-Florida commented on #157
@roguib looking at your error message, it seems that you are closing your double-quotes early.
`basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`
--------------------^ ------ ^
Those two are your open and closing delimiters, hence the `missing ) after argument list` SyntaxError.

[2020-12-15 06:31] #137 closed

[2020-12-15 07:21] roguib commented on #157
Yeah but I think it's something related to Jest running in Windows since the error comes from that package. I couldn't have the time to play around but maybe upgrading Jest version would be enough for fixing it.

[2021-01-03 02:55] TGTGamer opened #162 "bug: file movement"
Heya pal,

Really love the idea of this application, had an issue when running it through on one of my applications. Would love you to advise on how I can fix this issue.

Application in question: https://github.com/Videndum/twitch-extension-template
<details>
    <summary><b>The debug (Very Long)</b></summary>

[code]
</details>

[2021-01-03 16:33] AnatoleLucet commented on #162
Hey, is `src\navigation\BottomTabNavigator` created by destiny?
https://github.com/benawad/destiny/blob/develop/src/index/formatFileStructure/moveFiles.ts#L41

[2021-01-03 19:59] TGTGamer commented on #162
The folder is, yes

[2021-01-05 07:52] AnatoleLucet commented on #162
https://github.com/Videndum/twitch-extension-template/blob/master/src/navigation/BottomTabNavigator.tsx#L13
Your import should be:
[code]

On linux I'm having this error though:
[code]

[2021-01-12 07:37] TGTGamer commented on #162
Thank you for the response, sorry for my delay. So what is the next steps as this seems to be a bug within destiny?

[2021-01-12 08:09] AnatoleLucet commented on #162
Just to be clear, was your import wrong the first time you ran destiny? If so, what output do you have now that's fixed?

[2021-01-12 09:10] TGTGamer commented on #162
I stand corrected. Did a fresh install, made only the change specified above and it completed without errors. For reference:

<details>
    <summary><b>The debug (Very Long)</b></summary>

[code]

</details>

----

Closing ticket

[2021-01-12 09:13] #162 closed, assigned to nobody

[2021-01-22 11:30] Vakrim opened #163 "Module with its leaf dependencies in same folder"
I'm working on fork with slightly modified version of fractal representation and I'm wonder if you would like to include it in destiny behind option flag. Main difference is that each file is in the same folder with dependencies.

# Example
## Orignal version
[code]
## My version
[code]
It feels more natural to me that each subtree is contained in one folder and there is no need for "index" folder

[2021-01-22 11:40] AnatoleLucet commented on #163
Hey, by what I can see, this structure looks like what @benawad proposed in #151.
Feel free to open a PR so we can look it up!

[2021-03-26 14:08] michaelaflores opened #166 "Destiny folder depth limit"
When running `destiny ./src`, I figured it would walk the entire tree and generate changes based on that. I've found in my private repo for work that it only generates a new tree for some of those files that are of less depth. A representative file path for example: "ui/components/ModularComponents/Buttons/Encoder/Broadcast/Readme.md'. While for renaming purposes this file was touched and moved to

[2021-04-13 06:23] HrithikMittal opened #169 "Error in dynamic path imports"
I was trying out this project in one of my React Project but it through me this error
![image](https://user-images.githubusercontent.com/42075023/114505995-d0d60080-9c4e-11eb-8510-475d87167fa8.png)

and here is this code snippet
![image](https://user-images.githubusercontent.com/42075023/114506035-de8b8600-9c4e-11eb-8bed-4c79891e9fa1.png)

So I think it is not working with dynamic imports.

[2021-04-22 02:16] cheapsteak opened #170 "Feature request - Allow placing files being fractalized _inside_ the folder"
Was ecstatic that this project exists

Then crestfallen to find it follows that hackernoon article's interpretation of "fractal"

Would hugely appreciate an option to configure the rules to be a truer fractal

Since folders are displayed first in their own group, there's a problem where you have to scroll up and down and up and down between a file and its folder as a project scales horizontally to

[2021-08-21 03:25] mattfbacon commented on #169
What would be the expected behavior? Static analysis cannot produce an answer in that case. Maybe assume that all the files in the directory could be imported? Seems like there's no good solution.

[2022-02-08 18:09] kachkaev opened #182 "Alternatives to destiny (project seems abandoned)"
Hey folks! 👋 I‘ve been a fan of the ‘fractal tree’ approach [since @benawad‘s youtube talk on `destiny`](https://www.youtube.com/watch?v=rGYbrIf-y58). This was in Feb 2020, so two years ago now.

I’ve been watching this repo, but haven’t tried `destiny` as dependency because I’ve been waiting for it to become a bit more mature first. It looks like this repo got somewhat abandoned because [the late

[2022-05-28 18:53] jsfix-updater opened #189 "Assisted upgrade of fs-extra available"
Version 9 of fs-extra is available.
  The JSFIX tool can help you through the update process (**Ensuring that all the necessary changes are made to your project in the process**).
  Use this [link](https://jsfix.live/jsfix/https%3A%2F%2Fgithub.com%2Fbenawad%2Fdestiny) to start the upgrade process (_It's completely free_).

  Leave a comment on this issue if you have any questions or concerns.

[2022-06-14 03:32] michaelaflores commented on #182
@kachkaev have you found a good alternative? I haven't. Of course someone motivated could create a fork.

[2022-06-15 12:31] AnatoleLucet commented on #182
Hey 👋 destiny colab here. I think we all lost interest in destiny for different reasons.

For me, it was the realization that there are only a few use cases where the fractal structure makes sense (at least in my opinion).
One of these few use cases is in a component based architecture but, you still need to narrow it down to sub folders. If you ran destiny on a medium-sized `components/` folder i